{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "MonitorManagementClient",
        "version": "2016-03-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "monitor-alertRules_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/microsoft.insights/alertrules": {
            "get": {
                "description": "List the alert rules within a subscription.",
                "operationId": "AlertRules_ListBySubscription",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request for a list of alert rules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a collection of alert rule resources.",
                                    "properties": {
                                        "value": {
                                            "description": "the values for the alert rule resources.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The alert rule resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The alert rule properties of the resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "actions": {
                                                                "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                                "items": {
                                                                    "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                                    "discriminator": {
                                                                        "propertyName": "odata.type"
                                                                    },
                                                                    "properties": {
                                                                        "odata.type": {
                                                                            "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "odata.type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "condition": {
                                                                "description": "the condition that results in the alert rule being activated.",
                                                                "discriminator": {
                                                                    "propertyName": "odata.type"
                                                                },
                                                                "properties": {
                                                                    "dataSource": {
                                                                        "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                                        "discriminator": {
                                                                            "propertyName": "odata.type"
                                                                        },
                                                                        "properties": {
                                                                            "odata.type": {
                                                                                "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                                "type": "string"
                                                                            },
                                                                            "resourceUri": {
                                                                                "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "odata.type"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "odata.type": {
                                                                        "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "odata.type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "description": {
                                                                "description": "the description of the alert rule that will be included in the alert email.",
                                                                "type": "string"
                                                            },
                                                            "isEnabled": {
                                                                "description": "the flag that indicates whether the alert rule is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "lastUpdatedTime": {
                                                                "description": "Last time the rule was updated in ISO8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "the name of the alert rule.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "isEnabled",
                                                            "condition"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AlertRules"
                ],
                "x-ms-examples": {
                    "List alert rules": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "subscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/myRuleName",
                                            "location": "West US",
                                            "name": "myRuleName",
                                            "properties": {
                                                "actions": [
                                                    {
                                                        "customEmails": [
                                                            "gu@ms.com",
                                                            "su@ms.net"
                                                        ],
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
                                                        "sendToServiceOwners": true
                                                    }
                                                ],
                                                "condition": {
                                                    "dataSource": {
                                                        "metricName": "Requests",
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                        "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                                    },
                                                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                                    "operator": "GreaterThan",
                                                    "threshold": 2,
                                                    "timeAggregation": "Total",
                                                    "windowSize": "PT5M"
                                                },
                                                "description": "Pura Vida",
                                                "isEnabled": true,
                                                "lastUpdatedTime": "2016-11-10T21:04:39.0005255Z",
                                                "name": "myRuleName"
                                            },
                                            "tags": {
                                                "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                                            },
                                            "type": "Microsoft.Insights/alertRules"
                                        },
                                        {
                                            "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0",
                                            "location": "West US",
                                            "name": "chiricutin0",
                                            "properties": {
                                                "actions": [],
                                                "condition": {
                                                    "dataSource": {
                                                        "metricName": "Requests",
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                        "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                                    },
                                                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                                    "operator": "GreaterThan",
                                                    "threshold": 2,
                                                    "timeAggregation": "Total",
                                                    "windowSize": "PT5M"
                                                },
                                                "description": "Pura Vida 0",
                                                "isEnabled": true,
                                                "lastUpdatedTime": "2016-11-10T21:04:39.1082596Z",
                                                "name": "chiricutin0"
                                            },
                                            "tags": {
                                                "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                                            },
                                            "type": "Microsoft.Insights/alertRules"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules": {
            "get": {
                "description": "List the alert rules within a resource group.",
                "operationId": "AlertRules_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request for a list of alert rules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a collection of alert rule resources.",
                                    "properties": {
                                        "value": {
                                            "description": "the values for the alert rule resources.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The alert rule resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The alert rule properties of the resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "actions": {
                                                                "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                                "items": {
                                                                    "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                                    "discriminator": {
                                                                        "propertyName": "odata.type"
                                                                    },
                                                                    "properties": {
                                                                        "odata.type": {
                                                                            "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "odata.type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "condition": {
                                                                "description": "the condition that results in the alert rule being activated.",
                                                                "discriminator": {
                                                                    "propertyName": "odata.type"
                                                                },
                                                                "properties": {
                                                                    "dataSource": {
                                                                        "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                                        "discriminator": {
                                                                            "propertyName": "odata.type"
                                                                        },
                                                                        "properties": {
                                                                            "odata.type": {
                                                                                "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                                "type": "string"
                                                                            },
                                                                            "resourceUri": {
                                                                                "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "odata.type"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "odata.type": {
                                                                        "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "odata.type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "description": {
                                                                "description": "the description of the alert rule that will be included in the alert email.",
                                                                "type": "string"
                                                            },
                                                            "isEnabled": {
                                                                "description": "the flag that indicates whether the alert rule is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "lastUpdatedTime": {
                                                                "description": "Last time the rule was updated in ISO8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "the name of the alert rule.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "isEnabled",
                                                            "condition"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AlertRules"
                ],
                "x-ms-examples": {
                    "List alert rules": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "resourceGroupName": "Rac46PostSwapRG",
                            "subscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/myRuleName",
                                            "location": "West US",
                                            "name": "myRuleName",
                                            "properties": {
                                                "actions": [
                                                    {
                                                        "customEmails": [
                                                            "gu@ms.com",
                                                            "su@ms.net"
                                                        ],
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
                                                        "sendToServiceOwners": true
                                                    }
                                                ],
                                                "condition": {
                                                    "dataSource": {
                                                        "metricName": "Requests",
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                        "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                                    },
                                                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                                    "operator": "GreaterThan",
                                                    "threshold": 2,
                                                    "timeAggregation": "Total",
                                                    "windowSize": "PT5M"
                                                },
                                                "description": "Pura Vida",
                                                "isEnabled": true,
                                                "lastUpdatedTime": "2016-11-10T21:04:39.0005255Z",
                                                "name": "myRuleName"
                                            },
                                            "tags": {
                                                "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                                            },
                                            "type": "Microsoft.Insights/alertRules"
                                        },
                                        {
                                            "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0",
                                            "location": "West US",
                                            "name": "chiricutin0",
                                            "properties": {
                                                "actions": [],
                                                "condition": {
                                                    "dataSource": {
                                                        "metricName": "Requests",
                                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                        "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                                    },
                                                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                                    "operator": "GreaterThan",
                                                    "threshold": 2,
                                                    "timeAggregation": "Total",
                                                    "windowSize": "PT5M"
                                                },
                                                "description": "Pura Vida 0",
                                                "isEnabled": true,
                                                "lastUpdatedTime": "2016-11-10T21:04:39.1082596Z",
                                                "name": "chiricutin0"
                                            },
                                            "tags": {
                                                "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                                            },
                                            "type": "Microsoft.Insights/alertRules"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}": {
            "delete": {
                "description": "Deletes an alert rule",
                "operationId": "AlertRules_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to delete an alert rule"
                    },
                    "204": {
                        "description": "No content: the request was successful, but the response is empty"
                    }
                },
                "tags": [
                    "AlertRules"
                ],
                "x-ms-examples": {
                    "Delete an alert rule": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "resourceGroupName": "Rac46PostSwapRG",
                            "ruleName": "chiricutin",
                            "subscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3"
                        },
                        "responses": {
                            "200": {
                                "body": null,
                                "headers": {}
                            },
                            "204": {
                                "body": null,
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Gets an alert rule",
                "operationId": "AlertRules_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to get an alert rule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The alert rule resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The alert rule properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "actions": {
                                                    "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                    "items": {
                                                        "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                        "discriminator": {
                                                            "propertyName": "odata.type"
                                                        },
                                                        "properties": {
                                                            "odata.type": {
                                                                "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "odata.type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "condition": {
                                                    "description": "the condition that results in the alert rule being activated.",
                                                    "discriminator": {
                                                        "propertyName": "odata.type"
                                                    },
                                                    "properties": {
                                                        "dataSource": {
                                                            "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                            "discriminator": {
                                                                "propertyName": "odata.type"
                                                            },
                                                            "properties": {
                                                                "odata.type": {
                                                                    "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                    "type": "string"
                                                                },
                                                                "resourceUri": {
                                                                    "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "odata.type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "odata.type": {
                                                            "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "odata.type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "description": "the description of the alert rule that will be included in the alert email.",
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "description": "the flag that indicates whether the alert rule is enabled.",
                                                    "type": "boolean"
                                                },
                                                "lastUpdatedTime": {
                                                    "description": "Last time the rule was updated in ISO8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "the name of the alert rule.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "isEnabled",
                                                "condition"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AlertRules"
                ],
                "x-ms-examples": {
                    "Get an alert rule": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "resourceGroupName": "Rac46PostSwapRG",
                            "ruleName": "chiricutin",
                            "subscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin",
                                    "location": "West US",
                                    "name": "chiricutin",
                                    "properties": {
                                        "actions": [],
                                        "condition": {
                                            "dataSource": {
                                                "metricName": "Requests",
                                                "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                            },
                                            "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                            "operator": "GreaterThan",
                                            "threshold": 3,
                                            "timeAggregation": "Total",
                                            "windowSize": "PT5M"
                                        },
                                        "description": "Pura Vida",
                                        "isEnabled": true,
                                        "lastUpdatedTime": "2016-11-23T21:23:52.0221265Z",
                                        "name": "chiricutin"
                                    },
                                    "tags": {
                                        "hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest": "Resource"
                                    },
                                    "type": "Microsoft.Insights/alertRules"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates an existing AlertRuleResource. To update other fields use the CreateOrUpdate method.",
                "operationId": "AlertRules_Update",
                "parameters": [
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to update an alert rule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The alert rule resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The alert rule properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "actions": {
                                                    "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                    "items": {
                                                        "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                        "discriminator": {
                                                            "propertyName": "odata.type"
                                                        },
                                                        "properties": {
                                                            "odata.type": {
                                                                "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "odata.type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "condition": {
                                                    "description": "the condition that results in the alert rule being activated.",
                                                    "discriminator": {
                                                        "propertyName": "odata.type"
                                                    },
                                                    "properties": {
                                                        "dataSource": {
                                                            "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                            "discriminator": {
                                                                "propertyName": "odata.type"
                                                            },
                                                            "properties": {
                                                                "odata.type": {
                                                                    "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                    "type": "string"
                                                                },
                                                                "resourceUri": {
                                                                    "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "odata.type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "odata.type": {
                                                            "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "odata.type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "description": "the description of the alert rule that will be included in the alert email.",
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "description": "the flag that indicates whether the alert rule is enabled.",
                                                    "type": "boolean"
                                                },
                                                "lastUpdatedTime": {
                                                    "description": "Last time the rule was updated in ISO8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "the name of the alert rule.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "isEnabled",
                                                "condition"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successful request to update an alert rule that resulted in a creation of the alert rule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The alert rule resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The alert rule properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "actions": {
                                                    "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                    "items": {
                                                        "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                        "discriminator": {
                                                            "propertyName": "odata.type"
                                                        },
                                                        "properties": {
                                                            "odata.type": {
                                                                "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "odata.type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "condition": {
                                                    "description": "the condition that results in the alert rule being activated.",
                                                    "discriminator": {
                                                        "propertyName": "odata.type"
                                                    },
                                                    "properties": {
                                                        "dataSource": {
                                                            "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                            "discriminator": {
                                                                "propertyName": "odata.type"
                                                            },
                                                            "properties": {
                                                                "odata.type": {
                                                                    "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                    "type": "string"
                                                                },
                                                                "resourceUri": {
                                                                    "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "odata.type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "odata.type": {
                                                            "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "odata.type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "description": "the description of the alert rule that will be included in the alert email.",
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "description": "the flag that indicates whether the alert rule is enabled.",
                                                    "type": "boolean"
                                                },
                                                "lastUpdatedTime": {
                                                    "description": "Last time the rule was updated in ISO8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "the name of the alert rule.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "isEnabled",
                                                "condition"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Patch an alert rule": {
                        "parameters": {
                            "alertRulesResource": {
                                "properties": {
                                    "actions": [],
                                    "condition": {
                                        "dataSource": {
                                            "metricName": "Requests",
                                            "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                            "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                        },
                                        "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                        "operator": "GreaterThan",
                                        "threshold": 3,
                                        "timeAggregation": "Total",
                                        "windowSize": "PT5M"
                                    },
                                    "description": "Pura Vida",
                                    "isEnabled": true,
                                    "lastUpdatedTime": "2016-11-23T21:23:52.0221265Z",
                                    "name": "chiricutin"
                                },
                                "tags": {}
                            },
                            "api-version": "2016-03-01",
                            "resourceGroupName": "Rac46PostSwapRG",
                            "ruleName": "chiricutin",
                            "subscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin",
                                    "location": "West US",
                                    "name": "chiricutin",
                                    "properties": {
                                        "actions": [],
                                        "condition": {
                                            "dataSource": {
                                                "metricName": "Requests",
                                                "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                            },
                                            "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                            "operator": "GreaterThan",
                                            "threshold": 3,
                                            "timeAggregation": "Total",
                                            "windowSize": "PT5M"
                                        },
                                        "description": "Pura Vida",
                                        "isEnabled": true,
                                        "lastUpdatedTime": "2016-11-23T21:23:52.0221265Z",
                                        "name": "chiricutin"
                                    },
                                    "tags": {},
                                    "type": "Microsoft.Insights/alertRules"
                                },
                                "headers": {}
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin",
                                    "location": "West US",
                                    "name": "chiricutin",
                                    "properties": {
                                        "actions": [],
                                        "condition": {
                                            "dataSource": {
                                                "metricName": "Requests",
                                                "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                                                "resourceUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest"
                                            },
                                            "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                                            "operator": "GreaterThan",
                                            "threshold": 3,
                                            "timeAggregation": "Total",
                                            "windowSize": "PT5M"
                                        },
                                        "description": "Pura Vida",
                                        "isEnabled": true,
                                        "lastUpdatedTime": "2016-11-23T21:23:52.0221265Z",
                                        "name": "chiricutin"
                                    },
                                    "tags": {},
                                    "type": "Microsoft.Insights/alertRules"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The alert rule object for patch operations.",
                                "properties": {
                                    "properties": {
                                        "description": "The properties of an alert rule.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "actions": {
                                                "description": "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                "items": {
                                                    "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved.",
                                                    "discriminator": {
                                                        "propertyName": "odata.type"
                                                    },
                                                    "properties": {
                                                        "odata.type": {
                                                            "description": "specifies the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "odata.type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "condition": {
                                                "description": "the condition that results in the alert rule being activated.",
                                                "discriminator": {
                                                    "propertyName": "odata.type"
                                                },
                                                "properties": {
                                                    "dataSource": {
                                                        "description": "the resource from which the rule collects its data. For this type dataSource will always be of type RuleMetricDataSource.",
                                                        "discriminator": {
                                                            "propertyName": "odata.type"
                                                        },
                                                        "properties": {
                                                            "odata.type": {
                                                                "description": "specifies the type of data source. There are two types of rule data sources: RuleMetricDataSource and RuleManagementEventDataSource",
                                                                "type": "string"
                                                            },
                                                            "resourceUri": {
                                                                "description": "the resource identifier of the resource the rule monitors. **NOTE**: this property cannot be updated for an existing rule.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "odata.type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "odata.type": {
                                                        "description": "specifies the type of condition. This can be one of three types: ManagementEventRuleCondition (occurrences of management events), LocationThresholdRuleCondition (based on the number of failures of a web test), and ThresholdRuleCondition (based on the threshold of a metric).",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "odata.type"
                                                ],
                                                "type": "object"
                                            },
                                            "description": {
                                                "description": "the description of the alert rule that will be included in the alert email.",
                                                "type": "string"
                                            },
                                            "isEnabled": {
                                                "description": "the flag that indicates whether the alert rule is enabled.",
                                                "type": "boolean"
                                            },
                                            "lastUpdatedTime": {
                                                "description": "Last time the rule was updated in ISO8601 format.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "the name of the alert rule.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "name",
                                            "isEnabled",
                                            "condition"
                                        ]
                                    },
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Resource tags"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Parameters supplied to the operation.",
                    "required": true
                }
            },
            "put": {
                "description": "Creates or updates an alert rule.",
                "operationId": "AlertRules_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to update an alert rule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
[...]
